<div class="folder1">
    <button type="button" class="btn btn1 btn-dark" data-toggle="modal" data-target="#loading">
        <div class="row">
            <div class="col-3">
                <img class="float-left" src="https://cdn2.iconfinder.com/data/icons/fletro-long-shadow-google-service/512/Google_Docs_-_File.png"
                    alt="FolderIcon">
            </div>
            <div class="col-8">
                <div class="row1">Name</div>
                <div class="row">
                    <div class="col" style="italic">
                        <em>Size</em>
                    </div>
                    <div class="col">
                        <em>Date modified</em>
                    </div>
                </div>
            </div>
        </div>
    </button>
</div>