<div id="screen">
    <div id="navigation">
        <app-navigation></app-navigation>
    </div>
    
    <div id="content">
        <div class="left">
            <div id="grid">
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
                <app-file></app-file>
            </div>
            <!-- <p class="quote">
                There is no folder loaded
            </p> -->
        </div>
        <div class="right">
            <div class="loader"></div>
            <!-- <p class="quote">
                There is no file opened
            </p> -->
        </div>
    </div>
</div>