<nav class="navbar navbar-expand bg-gradient-dark">
    <div class="navbar-brand">
        <i href="#" class="fa fa-building fa-2x"></i>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <div class="nav-item active">
                <a class="icon fa-angle-right nav-link" href="#">root</a>
            </div>
            <div class="nav-item">
                <a class="icon fa-angle-right nav-link" href="#">src</a>
            </div>
            <div class="nav-item">
                <a class="icon fa-angle-right nav-link" href="#">usr</a>
            </div>
            <div class="nav-item">
                <a class="icon fa-angle-right nav-link" href="#">Minix</a>
            </div>
        </div>
    </div>
</nav>